.menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 5;
  background-color: $white;
  opacity: 90%;
  transform: translateX(-100%);

  &--active {
    transform: translateX(0%);
  }
}
